<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("views.shared.plac") %>
  </div>
  <%= f.submit t("views.shared.submit"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.micropost.file_type %>
  </span>
<% end %>
