<footer class="footer">
  <small>
    <%= t ("layout.footer.p1") %> <a href="http://www.railstutorial.org/"><%= t ("layout.footer.a1") %></a>
    <%= t ("layout.footer.p2") %> <a href="http://www.michaelhartl.com/"><%= t ("layout.footer.a2") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout.footer.li1"), about_path %></li>
      <li><%= link_to t("layout.footer.li2"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ("layout.footer.li3") %></a></li>
    </ul>
  </nav>
</footer>
